// Variables for colors
$color-primary-green: #014e56;
$color-primary-coral: #f67e7e;
$color-primary-white: #fff;
$color-primary-greenish: #7ed56f;

$color-secondary-light-blue: #79c8c7;
$color-secondary-light-blue-2: #c4fffe;

$color-secondary-dark-blue: #2c6269;
$color-secondary-dark-orange: #ff7730;

$color-secondary-dark-green-1: #004047;
$color-secondary-dark-green-2: #012f34;
$color-secondary-dark-green-3: #002529;

$color-grey-dark: #999;

$color-black: #000;
// Typography
$heading-primary-large: 10rem;

$heading-primary-line-height: 10rem;

$heading-primary-small: 6.4rem;

$heading-secondary: 4.8rem;

$heading-secondary-line-height: 4.8rem;

$heading-tertiary: 1.8rem;
