* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  .container {
    // width: 94.7%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  @include heading2();
}

h3 {
  @include heading3();
}

p {
  @include bodyText(small);
}

// Custom Styles
.bg-midnight__green {
  background-color: $midnight_green !important;
}

.bg-light__coral {
  background-color: $light_coral !important;
}

.bg-rapture__blue {
  background-color: $rapture_blue !important;
}

.bg-police__blue {
  background-color: $police_blue !important;
}

.bg-deep__jungle__green {
  background-color: $deep_jungle_green !important;
}

.bg-sacramento__state__green {
  background-color: $sacramento_state_green !important;
}

.bg-dark__green {
  background-color: $dark_green !important;
}

.text-midnight__green {
  color: $midnight_green !important;
}

.text-light__coral {
  color: $light_coral !important;
}

.text-rapture__blue {
  color: $rapture_blue !important;
}

.text-police__blue {
  color: $police_blue !important;
}

.text-deep__jungle__green {
  color: $deep_jungle_green !important;
}

.text-sacramento__state__green {
  color: $sacramento_state_green !important;
}

.text-dark__green {
  color: $dark_green !important;
}

.text-white {
  color: $white !important;
}

// Buttons
.btn {
  display: inline-flex;
  padding: 10px 30px;
  width: 153px;
  height: 48px;
  align-items: center;
  background-color: transparent;
  border-radius: 24px;
  border: 2px solid;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &.btn-primary--light {
    border-color: $white;
    color: $white;

    &:hover {
      background-color: white;
      color: $dark_green;
    }
  }

  &.btn-primary--dark {
    border-color: $sacramento_state_green;
    color: $sacramento_state_green;

    &:hover {
      background-color: $sacramento_state_green;
      color: $white;
    }
  }

  &.btn-secondary--light {
    background-color: $white;
    color: $dark_green;

    &:hover {
      background-color: $rapture_blue;
    }
  }

  &:disabled {
    opacity: 0.25;
  }
}

// Container
.container {
  max-width: 1100px;
  margin: auto;

  @include mq('desktop') {
    max-width: 990px;
  }

  @include mq('tablet-wide') {
    max-width: 760px;
    padding: 0 15px;
  }

  @include mq('tablet') {
    max-width: 573px;
  }

  @include mq('tablet-small') {
    max-width: 100%;
  }
  @include mq('phablet') {
    padding: 0 24px;
  }
}

// Divider
.divider {
  display: block;
  width: 50px;
  height: 4px;
}

// Row
.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;

  @include mq('tablet') {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
