* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

li {
  list-style: none;
  padding-right: 20px;
}

header {
  background-color: #014e56;
  min-height: 700px;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

.logo {
  padding-right: 100px;
  background-color: #000;
}
.nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
